<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wchm.website.mapper.AdminMapper">

    <select id="findAdminByName" parameterType="String" resultMap="adminMap">
        SELECT
            a.id u_id, username, password,
            r.id r_id, rolename, roledesc,
            p.id p_id , modelname, permission
        FROM website_admin a
        INNER JOIN website_admin_role ar ON a.id = ar.uid
        INNER JOIN website_role r ON ar.rid = r.id
        INNER JOIN website_role_permission rp ON r.id = rp.rid
        INNER JOIN website_permission p ON rp.pid = p.id
        WHERE a.username = #{username}
    </select>

    <resultMap id="adminMap" type="com.wchm.website.entity.Admin">
        <id property="id" column="u_id"></id>
        <result property="username" column="username"/>
        <result property="password" column="password"/>

        <collection property="roleList" ofType="com.wchm.website.entity.shiro.Role">
            <id property="id" column="r_id"/>
            <result property="rolename" column="rolename"/>
            <result property="roledesc" column="roledesc"/>

            <collection property="permissionList" ofType="com.wchm.website.entity.shiro.Permission">
                <id property="id" column="p_id"/>
                <result property="modelname" column="modelname"/>
                <result property="permission" column="permission"/>
            </collection>
        </collection>
    </resultMap>


</mapper>

