<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/css/font.css">
  <link rel="stylesheet" href="/css/xadmin.css">
  <link rel="stylesheet" href="/css/myPagination.css">
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/community.js"></script>
  <script type="text/javascript" src="/js/myPagination.js"></script>
  <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="/js/xadmin.js"></script>
  <style>
    table {
      table-layout: fixed;
    }
    table td, table th {
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
  </style>
</head>
<body onload="queryPageData()">
<div class="x-body">
  <xblock>
    <button class="layui-btn"  onclick="x_community_show('添加','/admin/community/add')"><i class="layui-icon"></i>添加</button>
  </xblock>
  <table class="layui-table" id="communityTable">
    <thead>
    <tr>
      <th>序号</th>
      <th>英文名</th>
      <th>中文描述</th>
      <th>链接</th>
      <th>关注数量</th>
      <th>是否展示</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody id="communityTbody">
    </tbody>
  </table>
  <div id="pagination" class="pagination" style="text-align:center;"></div>
</div>
</body>
</html>