<!DOCTYPE html>
<html lang="en">
<head>
    <title>500</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">

<body>
<div class="header">
    <h1>这是一个错误页面</h1>
</div>
<div class="w3-main">
    <div class="agile-info">
        <h2>500</h2>
        <h3>请刷新页面或重新登录后再试！</h3>
        <br>
        <a href="javascript:;" onclick="refresh()">返回首页</a>
    </div>
</div>
</body>

<script>
    function refresh() {
        window.parent.location.href = '/admin/index';
    }
</script>

</html>