<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <script type="text/javascript" src="/js/news.js"></script>
    <script type="text/javascript" src="/js/myPagination.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>

    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12">
            <input type="hidden" name="id" id="id" th:value="${news.id}" />
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 260px;">
                    <span class="x-red">*</span>新闻标题
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="title" name="title" required="" lay-verify="required"
                           style="width: 260px;" autocomplete="off" class="layui-input" th:value="${news.title}"   />
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label" style="width: 260px;">
                    <span class="x-red">*</span>新闻摘要
                </label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" id="content" name="content" class="layui-textarea"
                              style="width: 260px;" required="" lay-verify="required">[[${news.content}]]</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 260px;">
                    <span class="x-red">*</span>新闻时间
                </label>
                <div class="layui-input-inline">
                    <input class="layui-input" placeholder="新闻时间" name="timeInsert" id="timeInsert"
                           required="" lay-verify="required" th:value="${news.time}" style="width: 260px;">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 260px;">
                    <span class="x-red">*</span>图片地址
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="icon" name="icon" required="" lay-verify="required"
                           autocomplete="off" class="layui-input" th:value="${news.icon}" style="width: 260px;">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 260px;">
                    <span class="x-red">*</span>原文地址
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="url" name="url" required="" lay-verify="required"
                           autocomplete="off" class="layui-input" th:value="${news.url}" style="width: 260px;">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 260px;">
                  <span class="x-red">*</span>是否展示
                </label>
                <div class="layui-input-inline">
                  <select name="state" th:if="${news.state == 1}">
                    <option value="1">展示</option>
                    <option value="0">隐藏</option>
                  </select>
                  <select name="state" th:if="${news.state == 0}">
                      <option value="1">展示</option>
                      <option value="0" selected>隐藏</option>
                  </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 260px;">
                    <span >语言</span>
                </label>
                 <div class="layui-input-inline">
                     <select name="lang" th:if="${news.lang == 1}">
                         <option value="1">英文</option>
                         <option value="0">中文</option>
                     </select>
                     <select name="lang" th:if="${news.lang == 0}">
                         <option value="1">英文</option>
                         <option value="0" selected>中文</option>
                     </select>
                 </div>
            </div>

          <div class="layui-form-item">
            <label class="layui-form-label" style="width: 260px;">
            </label>
            <button class="layui-btn" id="edit" lay-filter="add" lay-submit="">
              保存
            </button>
          </div>
        </form>
      </div>
    </div>

    <script>
      layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
          elem: '#timeInsert' //指定元素
        });

        //执行一个laydate实例
        // laydate.render({
        //   elem: '#create_time' //指定元素
        // });
      });

      layui.use(['form','layer'], function(){
          $ = layui.jquery;
          var form = layui.form
              ,layer = layui.layer;

          //监听提交
          form.on('submit(add)', function(data){
              var field = data.field;
              newsUpdate(field);
              return false;
          });
      });

     </script>
  </body>

</html>