<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <script type="text/javascript" src="/js/notice.js"></script>
    <script type="text/javascript" src="/js/myPagination.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- kindeditor 编辑器需要文件 -->
    <script charset="utf-8" src="/plugins/kindeditor/kindeditor-all.js"></script>
    <script charset="utf-8" src="/plugins/kindeditor/lang/zh-CN.js"></script>
    <script>
        KindEditor.ready(function(K) {
            window.editor = K.create('#editor_id', {
                filePostName: 'file',//跟服务端参数对应
                uploadJson : '/upload/fileUpload',
                fileManagerJson  : '/upload/fileManager',
                allowFileManager : true,
                items: [
                        'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
                        'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                        'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                        'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
                        'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                        'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image',
                        'flash', 'media', 'insertfile', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
                        'anchor', 'link', 'unlink'
                    ]
            });
        });
    </script>
  </head>
  
  <body>

    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12">
            <input type="hidden" name="id" id="id" th:value="${notice.id}" />
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 260px;">
                    <span class="x-red">*</span>公告标题
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="title" name="title" required="" lay-verify="required"
                           autocomplete="off" class="layui-input" style="width: 260px;" th:value="${notice.title}">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label" style="width: 260px;">
                    <span class="x-red">*</span>公告描述
                </label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" id="description" name="description" class="layui-textarea"
                              style="width: 430px;" required="" lay-verify="required">[[${notice.description}]]</textarea>
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label" style="width: 260px;">
                    <span class="x-red">*</span>公告内容
                </label>
                <div class="layui-input-block">
                    <textarea id="editor_id" name="content" style="width:700px;height:300px;"
                              placeholder="请输入内容">[[${notice.content}]]</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 260px;">
                    <span class="x-red">*</span>公告时间
                </label>
                <div class="layui-input-inline">
                    <input class="layui-input" placeholder="公告时间" name="timeInsert" id="timeInsert"
                           required="" lay-verify="required" style="width: 260px;" th:value="${notice.time}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 260px;">
                  <span class="x-red">*</span>是否展示
                </label>
                <div class="layui-input-inline">
                    <select name="state" th:if="${notice.state == 1}">
                        <option value="1">展示</option>
                        <option value="0">隐藏</option>
                    </select>
                    <select name="state" th:if="${notice.state == 0}">
                        <option value="1">展示</option>
                        <option value="0" selected>隐藏</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 260px;">
                    <span >语言</span>
                </label>


                <div class="layui-input-inline">
                    <select name="lang" th:if="${notice.lang == 1}">
                        <option value="1">英文</option>
                        <option value="0">中文</option>
                    </select>
                    <select name="lang" th:if="${notice.lang == 0}">
                        <option value="1">英文</option>
                        <option value="0" selected>中文</option>
                    </select>
                </div>
            </div>

          <div class="layui-form-item">
            <label class="layui-form-label" style="width: 260px;">
            </label>
            <button class="layui-btn" id="edit" lay-filter="add" lay-submit="">
              保存
            </button>
          </div>
        </form>
      </div>
    </div>

    <script>
      layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
          elem: '#timeInsert' //指定元素
        });

        //执行一个laydate实例
        // laydate.render({
        //   elem: '#create_time' //指定元素
        // });
      });

      layui.use(['form','layer'], function(){
          $ = layui.jquery;
          var form = layui.form
              ,layer = layui.layer;

          //监听提交
          form.on('submit(add)', function(data){
              var field = data.field;
              noticeUpdate(field);
              return false;
          });
      });

     </script>
  </body>

</html>